<section class="contato">
  <div class="wrapper">
    <h2>Contato</h2>
    <p class="txtWhite"> Entre em contato</p>

    <form>
      <div class="groupForm">
        <label for="nome">
          <input type="text" placeholder="NOME" name="nome">
        </label>
      </div>

      <div class="groupForm">
        <label for="email">
          <input type="email" placeholder="E-MAIL" name="email">
        </label>
      </div>

      <div class="mensage">
        <label for="mensage">
          <textarea name="mensage" id="mensage" cols="30" rows="10" placeholder="MENSAGEM"></textarea>
        </label>
      </div>

      <button type="submit" name="submit">ENVIAR</button>
    </form>
  </div>
</section>
