
    <!-- The Modal -->
    <div id="myModal" class="modal" >

        <div class="modal-content" >
            <span class="close">×</span>
            <div class="modal-body">
                <h1>Fale Conosco</h1>
                <span class="envioForm">Mensagem enviada com sucesso <span>X</span></span>

                <div class="loading">

                    <div class="loader" title="7">
                      {{ include loading-form.html }}
                    </div>
                </div>

                <form class="contactform"   name="contactform"  method="post" >
                    <div class="form-group" >
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Nome" required>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputTelefone" name="inputTelefone" placeholder="Telefone" required>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Mensagem" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" value="ENVIAR" /><br />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
