<header class="home">
    <div class="menu">
        <div class="logoMenu">
            {% include logo-evertonboni.html %}
            {% include menu-mobile-ico.html %}
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#" id="myBtn">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="homeCenter">
      <h1 class="whiteColor">Desenvolvedor Front End / UX / Designer</h1>
    </div>

</header>
