<header class="home">
    <div class="logoMenu">
      {% include logo-evertonboni.html %}

      {% include menu-mobile-ico.html %}
    </div>

    <nav>
        <ul>
            <li><a href="#home"><div>Home</div></a></li>
            <li><a href="#sobre"><div>Sobre</div></a></li>
            <li><a href="#portfolio"><div>Portfolio</div></a></li>
            <li><a href="#contato"><div>Contato</div></a></li>
        </ul>
    </nav>

    <div class="homeCenter">
      <h1 class="whiteColor">Desenvolvimento de Sites</h1>

      {% include setadown.html %}
    </div>

</header>
