<header class="home">
    <div>
        <div class="logoMenu">
            {% include logo-evertonboni.html %}
            {% include menu-mobile-ico.html %}
        </div>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#" id="myBtn">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="homeCenter">
      <h1 class="whiteColor">Vamos ser melhores todos os dias?</h1>
    </div>

</header>
