<section class="portfolio" id="portfolio">
  <div class="wrapper-portfolio">
    <h2 class="titleDark">Portfolio</h2>

    <div class="row-especial">
        <div class="col-especial span_4-portfolio box-portfolio">
            <div class="capa-portfolio capa01">
              <h3>Phenomenal Soccer Camp</h3>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

        <div class="col-especial span_4-portfolio box-portfolio">
            <div class="capa-portfolio capa02">
              <h3>IE Intercâmbio</h3>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

        <div class="col-especial span_4-portfolio box-portfolio">
            <div class="capa-portfolio capa03">
              <h3>Aline Bretas</h3>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

    </div>
  </div>
</section>
