<section class="portfolio">
  <div class="wrapper">
    <h2 class="titleDark">Portfolio</h2>

    <div class="row">
        <div class="col-especial span_4 box-portfolio">
            <div class="capa-portfolio">
              <h3>Phenomenal Soccer Camp</h3>
              <div><p>UX</p><p>HTML5</p><P>CSS3</P><p>JavaScript</p></div>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

        <div class="col-especial span_4 box-portfolio">
            <div class="capa-portfolio">
              <h3>Phenomenal Soccer Camp</h3>
              <div><p>UX</p><p>HTML5</p><P>CSS3</P><p>JavaScript</p></div>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

        <div class="col-especial span_4 box-portfolio">
            <div class="capa-portfolio">
              <h3>Phenomenal Soccer Camp</h3>
              <div><p>UX</p><p>HTML5</p><P>CSS3</P><p>JavaScript</p></div>
            </div>
            <div>
                <p class="greyColor">Links</p>
            </div>
        </div>

    </div>
  </div>
</section>
