<section class="sobre" id="sobre">
    <article>
        <div class="slide-sobre">
            <div class="wrapper flex-center">
              <div class="row">
                <div class="col span_2-sobre perfil">
                  <img src="images/perfil.jpg" alt="Foto preto e branco perfil Everton Boni, camisa preta e tattoos">
                  <p>
                    Front End<br>
                    27 anos <br>
                    Vila Velha <br>
                    Cervejeiro
                  </p>
                  <div class="box-social-icon">
                    {% include icon-github.html %}
                    {% include icon-linkedin.html %}
                    {% include icon-twitter.html %}
                    {% include icon-behance.html %}
                  </div>
                </div>
                <div class="col span_10-sobre">
                  <h2>Olá,</h2>
                  <p>me chamo Everton Boni e sou desenvolvedor Front End em Vila Velha, Espirito Santo. Abandonei o curso de Sistemas de Informação para adiquirir conhecimento atravez da internet. Acredito em ET's e sou apaixonado por produzir cerveja artesanal.</p>

                  <p>Trabalho com Photoshop e Illustrator desde 2009 e venho me especializando nas linguagens de programação e ferramentas do Desenvolvimento Web como UX, HTML5, CSS3, JavaScript, Git, Gulp, Grunt, SASS, WordPress, DevOps e MySQL</p>

                  <p>Com foco no usuário, procuro desenvolver soluções que possam ajudar as pessoas em suas necessidades diárias.</p>

                  <button class="contact-form">Entre em contato</button>
                </div>
              </div>
            </div>
        </div>

        <div class="slide-sobre">
            {% include contato.html %}
        </div>

    </article>

</section>
