<section class="sobre">

  <div class="wrapper">
    <h2>Sobre</h2>
    <div class="row">
      <div class="col span_2 perfil">
        <img src="images/perfil.jpg" alt="Foto preto e branco perfil Everton Boni, camisa preta e tattoos">
      </div>
      <div class="col span_8">
        <p class="txtWhite">Sou desenvolvedor Web Front end, crio páginas simples e responsivas, utilizando técnicas de UX para escrever em HTML5, CSS3 e JavaScript.</p>

        <p class="txtWhite">Amo o que faço e pra não dizer que só faço site eu também faço cerveja artesanal. Já tentei graduar em Sistemas de Informação e hoje mantenho atualizado na comunidade de Front end.</p>

        <p class="txtWhite">Admiro o poder que as pessoas tem e junto a elas trabalho para promover produtos e serviços atravéz da internet.</p>

        <button>Entre em contato</button>
      </div>
      <div class="col span_2">
        <p class="txtWhite"> ico </p>
      </div>
    </div>
  </div>

</section>
