<section class="sobre" id="sobre">
    <article>
        <div class="slide-sobre">
            <div class="wrapper flex-center">
              <div class="row">
                <div class="col span_2-sobre perfil">
                  <img src="images/perfil.jpg" alt="Foto preto e branco perfil Everton Boni, camisa preta e tattoos">
                  <p class="txtWhite">
                    27 anos <br>
                    Vila Velha
                  </p>
                </div>
                <div class="col span_8-sobre">
                  <p class="txtWhite">Olá, me chamo Everton Boni e sou desenvolvedor Front end, utilizo técnicas de UX e Desenvolvimento Ágil para escrever em HTML5, CSS3 e JavaScript.</p>

                  <p class="txtWhite">Trabalho com Photoshop e Illustrator desde 2009 e venho me especializando nas linguagens de programação e ferramentas do desenvolvimento web.</p>

                  <p class="txtWhite">Estudo ferramentas que possam promover produtos e serviços atravéz da internet com foco no usuário para equilibrar design, negócios e performance.</p>

                  <button class="contact-form">Entre em contato</button>
                </div>
                <div class="col span_2-sobre">
                  <div class="box-social-icon">
                    {% include icon-github.html %}
                    {% include icon-linkedin.html %}
                    {% include icon-twitter.html %}
                    {% include icon-behance.html %}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="slide-sobre">
            {% include contato.html %}
        </div>

    </article>

</section>
