//CONTATO
.wrapper-contact{
  width: 500px;
  float: none;
  display: block;
  margin: 0 auto;
  h1{
      color: #fff;
      font-family: $font-brand-text;
      text-align: center;
  }
}

@media screen and (max-width:501px) and (min-width:0px){
    width: 100%;
}

  .contato{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color: black;

    div > p{
      text-align: center;
    }
  }

  form{
    width:100%;
  }

  input, textarea{
    width: 100%;
    padding:17px 15px 15px 15px;
    margin-top:5px;
    border: solid 1px rgba(255,255,255,0.6);
    border-radius: 5px;
    outline-color: $verdeBrand;
    font-family: $font-brand-text;
    color: #fff;
    font-family: $font-brand-text;
    text-transform: uppercase;
    font-size: 15px;
    background-color: rgba(0,0,0,0.0);
    &[type="submit"]{
        padding: 18px 35px 15px 35px;
        background-color: $verdeBrand;
        color: white;
        border: none;
        font-family: $font-brand-title;
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 1.6em;
        letter-spacing:2px;
        float: left;
        border-radius: 200px;
        border-bottom: 3px solid darken($verdeBrand, 10%);
        outline: none;
        transition: 200ms all ease-in-out;
    }
  }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #898989;
    font-family: $font-brand-text;
    text-transform: uppercase;
    font-size: 15px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }

  .form-group{
      margin-top: 20px;
  }

  .form-group div label{
      font-family: $font-brand-text;
      color: rgba(255,255,255,0.6);
      font-size: 1.8em;
      text-transform: uppercase;
  }

  .envioForm{
    padding: 10px;
    background-color: #21b25b;
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 3px;
    font-size: 1.6em;
    display: none;
    font-family: 'proxima';
    margin-bottom: 10px;
  }

  .envioForm span{
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
  }

  .loading{
  position: absolute;
  opacity: 0.6;
  width: 90%;
  height: 70%;
  background-color: white;
  text-align: center;
  font-size: 5em;
  display: none;
  font-family: 'leaguegothic';
  text-transform: uppercase;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 40%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  }

  .loader svg rect{
    fill: #21b25b;
  }
