//CONTATO
.wrapper-contact{
  width: 400px;
  float: none;
  display: block;
  margin: 0 auto;
  h1{
      color: #fff;
      font-family: $font-brand-text;
      text-align: center;
      letter-spacing: 0;
      margin-bottom: 40px;
  }
}

@media screen and (max-width:401px) and (min-width:0px){
    .wrapper-contact{
        width: 100%;
    }
}

@media screen and (max-width: 900px) and (min-width:0px){
    .wrapper-contact{
        position: fixed;
    }
}

  .contato{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color: black;

    div > p{
      text-align: center;
    }
  }

  form{
      padding: 20px;
  }

  input, textarea{
    width: 100%;
    padding:12px 10px 10px 10px;
    margin-top:5px;
    border: solid 1px $blueColor;
    border-radius: 5px;
    outline-color: rgba(200,200,200,0.5);
    font-family: $font-brand-text;
    color: $greyColor;
    font-family: $font-brand-text;
    font-size: 1.8em;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.0);
    box-shadow: inset 10px, 10px, 10px, 10px, #454545;
    &:focus{
        border: solid 1px $verdeBrand;
    }
    &[type="submit"]{
        width: auto;
        padding: 13px 25px 10px 25px;
        background-color: $verdeBrand;
        color: white;
        border: none;
        font-family: $font-brand-title;
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 1.6em;
        letter-spacing:2px;
        float: right;
        border-radius: 200px;
        border-bottom: 3px solid darken($verdeBrand, 10%);
        outline: none;
        transition: 200ms all ease-in-out;
        &:hover{
          background-color: lighten( $verdeBrand ,10%);
          border-bottom: 3px solid $verdeBrand;
          cursor:pointer;
        }
    }
  }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #898989;
    font-family: $font-brand-text;
    text-transform: uppercase;
    font-size: 15px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #898989;
      font-family: $font-brand-text;
      font-size: 15px;
    }

  .form-group{
      margin-top: 20px;
  }

  .form-group label{
      font-family: $font-brand-text;
      color: $blueColor;
      font-size: 1.6em;
      letter-spacing: 1px;
      text-transform: uppercase;
  }

  .envioForm{
    padding: 10px;
    background-color: #21b25b;
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 3px;
    font-size: 1.6em;
    display: none;
    font-family: 'proxima';
    margin-bottom: 10px;
  }

  .envioForm span{
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
  }

  .loading{
  position: absolute;
  opacity: 0.6;
  width: 90%;
  height: 70%;
  background-color: white;
  text-align: center;
  font-size: 5em;
  display: none;
  font-family: 'leaguegothic';
  text-transform: uppercase;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 40%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  }

  .loader svg rect{
    fill: #21b25b;
  }

  .back-form{
      color: $blueColor;
      font-family: $font-brand-text;
      font-size: 1.5em;
      float: left;
      margin-top: 20px;
      &:hover{
        color: $verdeBrand;
      }
  }
