/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */
.col, .col-especial {
  border:0px solid rgba(0,0,0,0);
  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;
}

@media screen and (min-width: 319px) and (max-width: 719px) {

  section{padding: 50px 0 20px 0;}

  .row {
      margin-left:-20px;
  }
  .row-especial{
      margin-left: -10px;
  }
  .col {
      border-left-width:20px;
      padding:20px;
  }
  .col-especial{
      border-left-width:10px;
      padding:0;
  }

  .span_1 {
      width:33.3333333333%;
  }
  .span_2 {
      width:66.6666666667%;
  }
  .span_2-sobre {
      width:100%;
  }
  .perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .perfil img{
    width: 180px;
  }
  .perfil p{
    text-align: center;
  }
  .box-social-icon{
    flex-direction:row;
    height: auto;
    margin: 20px 0 0 0;
    padding: 20px;
  }
  .span_3 {
      margin-left:0;
      width:100%;
      padding: 50px 12px;
  }

  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 100%;
  }
}


@media screen and (min-width: 720px) and (max-width: 999px) {

  .space-mobile{padding: 60px 0;}

  section{padding: 50px 0 20px 0;}

  .row {
      margin-left:-20px;
  }
  .row-especial{
      margin-left: -10px;
  }
  .col {
      border-left-width:20px;
      padding:20px;
  }
  .col-especial{
      border-left-width:10px;
      padding:0;
  }

  .span_1 {
      width:16.6666666667%;
  }
  .span_2 {
      width:33.3333333333%;
  }
  .span_2-sobre {
      width:100%;
  }
  .perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .perfil img{
    width: 180px;
  }
  .perfil p{
    text-align: center;
  }
  .box-social-icon{
    flex-direction:row;
    height: auto;
    margin: 20px 0 0 0;
    padding: 20px;
  }

  .span_3 {
      width:50.0%;
  }
  .span_4 {
      width:66.6666666667%;
  }
  .span_4-portfolio {
      max-width:66.6666666667%;
      margin-top:10px;
  }
  .span_5 {
      width:100%;
  }
  .span_6 {
      margin-left:0;
      width:100%;
  }
  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 50%;
      width: 50%;
  }
}

@media screen and (min-width: 1000px) {

  .row {
      margin-left:-20px;
  }
  .row-especial{
      margin-left: -10px;
  }
  .col {
      border-left-width:20px;
      padding:20px;
  }
  .col-especial{
      border-left-width:10px;
      padding:0;
  }

  .span_1 {
      width:8.33333333333%;
  }
  .span_2 {
      width:16.6666666667%;
  }
  .span_2-sobre {
      width:16.6666666667%;
  }
  .span_3 {
      width:25.0%;
  }
  .span_4 {
      width:33.3333333333%;
  }
  .span_4-portfolio {
      max-width:33.3333333333%;
  }
  .span_5 {
      width:41.6666666667%;
  }
  .span_6 {
      width:50.0%;
  }
  .span_7 {
      width:58.3333333333%;
  }
  .span_8 {
      width:66.6666666667%;
  }
  .span_8-sobre {
      width:66.6666666667%;
  }
  .span_9 {
      width:75.0%;
  }
  .span_10 {
      width:83.3333333333%;
  }
  .span_11 {
      width:91.6666666667%;
  }
  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 33%;
  }
}
