//HEADER
  .home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background: url(../images/background-home.jpg) center top no-repeat;
    background-attachment: fixed;
  }

  .logoMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms ease-in-out all;
  }

  .menuFixed{
    position: fixed;
    z-index: 888;
    background-color: $azulBrand;
    width: 100%;
    height: 70px;
    transition: 300ms ease-in-out all;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -ms-justify-content: space-between;
  }

  .logo-evertonboni{
    width:300px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .menuLitle{
    width: 230px;
  }

  .menuScrollDown{
    margin: 10px;
  }

  nav{
    margin: 0 auto;
    margin-top: 100px;
    z-index: 999;
    transition: 300ms ease-in-out all;
  }

  nav ul li{
    display:inline-block;
    margin: 0 3px;
  }

  nav ul li a{
    color:white;
    font-family: "nexaLight";
    font-size: 1.6em;
    text-transform: uppercase;
    transition: 100ms ease-in-out all;
    padding: 5px 1px;
    margin: 0 10px;
    border-bottom: 0 solid $laranjaBrand;

    &:hover{
      color:white;
      border-bottom: 3px solid $laranjaBrand;
    }
  }


  .menuFixed{
    position: fixed;
    z-index: 888;
    background-color: $azulBrand;
    width: 100%;
    height: 100px;
    flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    transform: transtale(100px, 90px);
  }

  .menu-mobile{
    display:none;
  }

  @media screen and (min-width: 319px) and (max-width: 719px){
    .logo-evertonboni{ width: 200px; margin-left:10px;}
    nav{background-color: $azulBrand; width: 100%;}
    nav ul li{display: flex; margin: 0; justify-content: center; background-color:  $brand-color; padding: 20px;}
    nav{margin-top: 20px; display: none;}
    .home{
      width: 100%;
      height: 100%;
      display: block;
      justify-content:flex-start;
      flex-direction: column;
      background-color: black;
    }
    .menu-mobile{display: block; width: 20px; margin: 20px 20px 0 0;}
    .menu-mobile path{fill: #fff;}
  }

  .homeCenter{
    height:100%;
    width: 100%;
    text-align: center;
    h1{
      height: 250px;
      width: 800px;
      position: absolute;
      left: 50%;
      margin-left: -400px;
      margin-top: 200px;
    }
  }

  @media (max-width:800px){
    .homeCenter{h1{width:100%; padding:10px;}}
  }

  @-webkit-keyframes setaDown{
    20%{
      top:10px;
    }
  }
