a{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}

::selection {
  background: #e9a34b;
  color: #fff;
}

body {
  font-size: 62.5%;
}

.page{
  position:relative;
  float: left;
  background-color: #ccc;
}

@font-face {
	font-family: "leaguegothic";
	src: url("../css/fonts/leaguegothic-regular-webfont.eot") format("embedded-opentype"),
	url("../css/fonts/leaguegothic-regular-webfont.woff") format("woff"),
	url("../css/fonts/leaguegothic-regular-webfont.ttf") format("truetype");
	font-style:normal;
}

@font-face {
	font-family: "nexaLight";
	src: url("../css/fonts/nexaLight.otf");
}

h1{
  font-size: 4em;
  color: white;
  font-family: "leaguegothic";
  text-transform: uppercase;
}

.home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  background-color: black;
}

.logo-evertonboni{
  width:300px;
  margin: 0 auto;
  margin-top: 20px;
}

nav{
  margin: 0 auto;
  margin-top: 50px;
}

nav ul li{
  display:inline-block;
  margin: 0 40px;
}

@media screen and (min-width: 319px) and (max-width: 719px){
  .logo-evertonboni{ width: 200px; margin: 20px 0 0 10px;}
  nav{background-color: $brand-color; width: 100%;}
  nav ul li{display: flex; margin: 0; justify-content: center; background-color:  $brand-color; padding: 20px;}
  nav{margin-top: 20px;}
}

nav ul li a{
  color: #fff;
  font-family: "nexaLight";
  font-size: 1.6em;
}

/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */



/* Reusable column setup */
.col, .col-especial {
  border:0px solid rgba(0,0,0,0);
  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;
}

@media screen and (min-width: 319px) and (max-width: 719px) {

  .row {
      margin-left:-12px;
  }
  .row-especial{
      margin-left: 0;
  }
  .col {
      border-left-width:12px;
      padding:0 12px;
  }
  .col-especial{
      border-left-width:0;
      padding:0;
  }

  .span_1 {
      width:33.3333333333%;
  }
  .span_2 {
      width:66.6666666667%;
  }
  .span_3 {
      margin-left:0;
      width:100%;
      padding: 50px 12px;
  }

  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 100%;
  }
}


@media screen and (min-width: 720px) and (max-width: 1139px) {

  .space-mobile{padding: 60px 0;}

  .row {
      margin-left:-12px;
  }
  .row-especial{
      margin-left: 0;
  }
  .col {
      border-left-width:12px;
      padding:0 12px;
  }
  .col-especial{
      border-left-width:0;
      padding:0;
  }

  .span_1 {
      width:16.6666666667%;
  }
  .span_2 {
      width:33.3333333333%;
  }
  .span_3 {
      width:50.0%;
  }
  .span_4 {
      width:66.6666666667%;
  }
  .span_5 {
      width:100%;
  }
  .span_6 {
      margin-left:0;
      width:100%;
  }
  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 50%;
      width: 50%;
  }
}

@media screen and (min-width: 1140px) {

  .row {
      margin-left:-12px;
  }
  .row-especial{
      margin-left: 0;
  }
  .col {
      border-left-width:12px;
      padding:0 12px;
  }
  .col-especial{
      border-left-width:0;
      padding:0;
  }

  .span_1 {
      width:8.33333333333%;
  }
  .span_2 {
      width:16.6666666667%;
  }
  .span_3 {
      width:25.0%;
  }
  .span_4 {
      width:33.3333333333%;
  }
  .span_5 {
      width:41.6666666667%;
  }
  .span_6 {
      width:50.0%;
  }
  .span_7 {
      width:58.3333333333%;
  }
  .span_8 {
      width:66.6666666667%;
  }
  .span_9 {
      width:75.0%;
  }
  .span_10 {
      width:83.3333333333%;
  }
  .span_11 {
      width:91.6666666667%;
  }
  .span_12 {
      margin-left:0;
      width:100%;
  }
  .span_5x12{
      width: 33%;
  }
}
